*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background: rgb(161, 80, 47);
}
a{
    color:black;
    text-decoration: none;
}
header{
    background-color: rgb(173, 68, 27);
}
#contenedor{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/plantillaTP2.jpeg);
    background-attachment: fixed;
    background-size: cover;
}
#circulo{
    width: 70px;
    height: 70px;
    background-image: url(../img/flecha2.png);
    background-size: cover;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.top{
    width: 800px;
    margin: auto;
}
.encabezado{
    text-align: center;
    padding: 10px;
    margin: 10px;
    float: left;
}
h1{
    background-image: url(../img/logofinal.png);
    background-size: cover;
    width:280px; 
    height:215px;
    text-indent: -3000px;
    overflow: hidden;
}
.datos{
    float: right;
    font-size: 0.7em;
    margin-top: 100px;
    padding-right: 15px;
    box-sizing: border-box;
}
.ig{
    font-size: 0.7em;
}
.tel, .mail{
    font-size: 1.2em;
}
.navbar{
    clear: both;
    background: rgba(88, 68, 10, 0.74);
    margin: auto;
    padding: 0.7em;
    text-align: center;
    }
    .navbar ul li{
        list-style: none;
        display: inline-block;
        margin: 10px 0;
    }
        .navbar ul li a{
            display: inline-block;
            text-decoration: none;
            background: black;
            color: rgb(248, 122, 4);
            width: 120px;
            height: 20px;
            padding: 10px;
            text-align: center;
            border: 2px solid black;
            border-radius: 10px;
            vertical-align: text-bottom;
        }
.navbar ul li a:hover{
    background: rgb(248, 122, 4);
    color: black;
    }   
.subtitulo{
    font-style: italic;
    font-size: 1.2em;
    font-weight: bold;
}
.portada{
    width: 800px;
    padding: 1.5em;
    box-sizing: border-box;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    background: rgb(248, 122, 4);
    border-radius: 10px;
}
.titulo {
    font-size: 1.3em;
}
.titulo h2{
    margin-bottom: 5px;
}
.accesos{
    margin: 20px;
    float: left;
    width: 350px;
    box-sizing: border-box;
    height: 280px;
    padding: 20px; 
    border: 2px solid black;
    border-radius: 10px;
}
.imgaccesos{
    box-sizing: border-box;
}
.imgaccesos img{
    width: 100%;
}
.finfloat{
    clear: both;
}
#nosotros, #propuestas, #especiales, #contacto{

    width: 800px;
    margin: auto;
}
.tituloseccion{
    background-color: rgba(180, 4, 4, 0.603);
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 2.5em;
    border-radius: 10px;
}
.nosotros{
    float: left;
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.15em;
    text-align: justify;
    margin-bottom: 20px;
}
.nosotros p{
    margin-bottom: 0.5em;
}
.bannerlogo{
    float: right;
    width: 300px;
    background-color: rgb(29, 121, 26);
    padding: 20px;
    box-sizing: border-box;
    color: rgb(190, 220, 20);
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    border-radius: 10px;
}
.bannerlogo h4{
    font-size: 1.2em;
    margin-bottom: 5px;
}
.variosmari{
    width: 250px;
    height: 166px;
    box-sizing: border-box;
    margin:auto;
}
.variosmari img, .varios img{
    width: 100%; 
    border-radius: 10px;
}
.bannerlogo p{
    margin-top: 8px;
}
.varios{
    margin-top: 45px;
}
#propuestas .izquierda{
    width: 550px;
    float: left;
    box-sizing: border-box;
    padding: 20px;
}
#propuestas .derecha{
    width: 250px;
    float: right;
}
#especiales .derecha{
    width: 550px;
    float: right;
    box-sizing: border-box;
    padding: 20px;
}
#especiales .izquierda{
    width: 250px;
    float: left;
    border-radius: 50%;
}
.izquierda, .derecha{
    height: 330px;
    font-size: 1.1em;
    text-align: justify;
}
.derecha h3, .izquierda h3{
    margin-bottom: 10px;
}
.derecha p, .izquierda p{
    margin-bottom: 25px;
}
.btnseccion{
    background: rgba(180, 4, 4, 0.349);
    color: black;
    width: 120px;
    height: 20px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}
.btnseccion:hover{
    background: rgba(0, 0, 0, 0.123);
    color: rgb(15, 15, 15);
}
.contactos{
    float: left;
}
#formcontacto{
    padding: 1.2em;
    width: 350px;
    box-sizing: border-box;
}
#formcontacto input, #formcontacto textarea{
    width: 90%;
    padding: 0.8em;
    margin-bottom: 1em;
    border-radius: 10px;
    font-size: 1em;
}
#formcontacto input[type=submit]{
    width: 50%;
}
#formcontacto input[type=submit]:hover{
    background-color: rgb(161, 80, 47);
    color: blanchedalmond;
}
.contactos ul li{
    display: inline;
}
.redes{
    margin-top: 20px;
    text-align: center;
}
.telfinal{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}
.mapa{
    float: right;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}
.footer{
    clear:both;
    background:rgb(161, 80, 47);
    color: rgb(247, 211, 9);
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    height: 60px;
}